<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
		{% block title %}{% endblock %}
	</head>
	<body>

	<div class="header">
	  <p>Time Tool</p>
	  <div class="header-right">
		<a href="/">Home</a>
		<a href="uebersicht">Übersicht</a>                  <!-- hrefs noch anpassen -->
		<a href="grafiken">Grafiken</a>
	  </div>
	</div>

	<!-- Quelle Header: https://www.w3schools.com/howto/howto_css_responsive_header.asp -->

	{% block body %}{% endblock %}
	</body>
</html>