{% extends "basic.html" %}

{% block title %}
<title>Zeiterfassung</title>
{% endblock %}

{% block body %}

<h2>Zeiterfassung</h2>

<div>
	<form method="POST">
		<label>Datum</label><input type="date" name="datum" placeholder="Datum">
		<label>Startzeit</label><input type="time" name="startzeit" placeholder="Startzeit">
		<label>Endzeit</label><input type="time" name="endzeit" placeholder="Endzeit">
		<label>Pause</label><input type="number" min="0" step="0.25" name="pause" placeholder="Pause (in Std.)"><br>
		<input type="checkbox" id="isolation" name="aufgabe" value="Isolation">
			<label for="isolation"> Isolation</label><br>
		<input type="checkbox" id="wandtaeferung" name="aufgabe" value="Wandtäferung">
  			<label for="wandtaeferung"> Wandtäferung</label><br>
		<input type="checkbox" id="fenster" name="aufgabe" value="Fenster">
  			<label for="fenster"> Fenster</label><br>
    	<input type="checkbox" id="<moebelbau>" name="aufgabe" value="Möbelbau">
  			<label for="moebelbau"> Möbelbau</label><br>
		<input type="checkbox" id="kueche" name="aufgabe" value="Küche">
  			<label for="kueche"> Küche</label><br>
    	<input type="checkbox" id="bad" name="aufgabe" value="Bad">
  			<label for="bad"> Bad</label><br>
		<input type="checkbox" id="sonstiges" name="aufgabe" value="Sonstiges">
  			<label for="sonstiges"> Sonstiges</label><br>
		<button type="submit">Hinzufügen</button>
	</form>
</div>

{% endblock %}

<!-- Quelle Formular: https://www.w3schools.com/html/html_form_input_types.asp -->

