{% extends "basic.html" %}

{% block title %}
<title>Zeiterfassung</title>
{% endblock %}

{% block body %}

<h1>Zeiterfassung</h1>

<div>

	<form action="/" method="POST">
		<input type="date" name="datum" placeholder="Datum">
		<input type="text" name="aufgabe" placeholder="Aufgabe">
		<input type="number" step="0.25" name="stunden" placeholder="Anz. Stunden">
		<input type="submit" value="Hinzufügen">
	</form>

	<!-- Quelle: https://www.youtube.com/watch?v=Z1RJmh_OqeA&t=1534s -->

</div>


{% endblock %}

