{% extends "basic.html" %}

{% block title %}
<title>Zeiterfassung</title>
{% endblock %}

{% block body %}

<h1>Zeiterfassung</h1>

<div>

	<form method="POST">
		<input type="date" name="datum" placeholder="Datum">
		<input type="text" name="aufgabe" placeholder="Aufgabe">
		<input type="time" name="startzeit" placeholder="Startzeit">
		<input type="time" name="endzeit" placeholder="Endzeit">
		<input type="number" step="0.25" name="pause" placeholder="Pause">
		<button type="submit">Hinzufügen</button>
	</form>

</div>


{% endblock %}

