{% extends "basic.html" %}

{% block title %}
<title>Übersicht</title>

{% endblock %}

{% block body %}

<h2>Übersicht erfasste Zeit</h2>

{% if zeiterfassung %} <!-- Falls Zeiten bereits erfasst wurden -->

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li><a href="#">jQuery</a></li>
      <li><a href="#">Bootstrap</a></li>
      <li><a href="#">Angular</a></li>
    </ul>
  </div>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Datum, Erfassungszeit</th>
            <th scope="col">Kategorie</th>
            <th scope="col">Zeit</th>
            <th scope="col">Anpassen</th>
        </tr>
    </thead>
{% for key, value in zeiterfassung.items() %}  <!-- For-Schleife iteriert durch den Dict -->
    <tbody>
        <tr style="background-color:{{ farben[value[0]] }}">  <!-- Jede Kategorie hat eigene Hintergrundfarbe -->
            <td>{{ key }}</td>  <!-- Key = Datum, Erfassungszeit -->
            <td>{{ value[0] }}</td>  <!-- Value[0] = Kategorie -->
            <td>{{ value[1] }}</td>  <!-- Value[1] = Zeit -->
            <td><a href="/aendern/{{ key }}">Ändern</a> <a href="/loeschen/{{ key }}">Löschen</a></td>  <!-- Key kommt aus main.py -->
        </tr>
    </tbody>
{% endfor %}
</table>

{% else %}
	<!-- Falls noch keine Zeiten erfasst wurden -->
    <p>Es wurden noch keine Zeiten erfasst. Erfassen Sie Ihre Zeit <a href="/">hier</a>.</p>

{% endif %}

{% endblock %}
