{% extends "basic.html" %}

{% block title %}
<title>Übersicht</title>
{% endblock %}

{% block body %}

<h2>Übersicht erfasste Zeit</h2>

{% if zeiterfassung %} <!-- Falls Zeiten bereits erfasst wurden -->

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Filtern nach Kategorie
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for kategorie in kategorien %}
    <a class="dropdown-item" href="/uebersicht/{{ kategorie }}">{{ kategorie }}</a>
      {% endfor %}
  </div>
</div>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Datum, Erfassungszeit</th>
            <th scope="col">Kategorie</th>
            <th scope="col">Zeit</th>
            <th scope="col">Anpassen</th>
        </tr>
    </thead>
{% for key, value in zeiterfassung.items() %}
    <tbody>
        <tr style="background-color:{{ farben[value[0]] }}">
            <td>{{ key }}</td>
            <td>{{ value[0] }}</td>
            <td>{{ value[1] }}</td>
            <td><a href="/aendern/{{ key }}">Ändern</a> <a href="/loeschen/{{ key }}">Löschen</a></td>
        </tr>
    </tbody>
{% endfor %}
</table>

{% else %}
	<!-- Falls noch keine Zeiten erfasst wurden -->
    <p>Es wurden noch keine Zeiten erfasst. Erfassen Sie Ihre Zeit <a href="/">hier</a>.</p>

{% endif %}

{% endblock %}
