{% extends "basic.html" %}

{% block title %}
<title>Übersicht</title>
{% endblock %}

{% block body %}

<h1>Übersicht erfasste Zeit</h1>

<div>

	<table>
		<tr>
			<th>Datum</th>
			<th>Aufgabe</th>
			<th>Anz. Stunden</th>
			<th>Anpassen</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td>
				<a href="">Löschen</a>  <!-- Achtung Links fehlen noch -->
				<a href="">Ändern</a>
			</td>
		</tr>
	</table>

<!-- Quelle: https://www.youtube.com/watch?v=Z1RJmh_OqeA&t=1534s -->

</div>



{% endblock %}